.blog-container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.update-blog-form {
    display: flex;
    flex-direction: column;
}

.update-title-input {
    height: 40px;
    border: none;
    padding: 1em;
    margin-bottom: 1em;
}

.update-content-input {
    font-family: 'Roboto';
    padding: 1em;
    border: none;
    margin-bottom: 1em;
}

.action-button {
    background-color: #3ca2dd;
    color: #ffffff;
    border: none;
    width: 90px;
    height: 30px;
    margin-right: 1em;
}

.action-button:hover {
    -webkit-box-shadow: 0px 3px 5px 0px rgba(62, 100, 146, 0.9);
    box-shadow: 0px 3px 5px 0px rgba(62, 100, 146, 0.9);
}

.update-delete-button {
    background-color: #ff0000;
}
