header {
    height: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #3ca2dd;
    padding: 0 2em;
}

header h1 {
    color: #ffffff;
}

header button {
    color: #3ca2dd;
    height: 45px;
    background-color: #ffffff;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}
