*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body,
#root,
.App {
    font-family: Roboto, sans-serif;
    background-color: #eaeaea;
    height: 100%;
}

html a {
    text-decoration: none;
    color: inherit;
}

html body {
    /* height: 100%; */
    padding: 0;
    margin: 0;
}

.blog-date {
    color: #7b8591;
    font-size: 0.8rem;
}
